# uv
.venv/
.python-version

# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store
gitignore

# IDE
.vscode/
.idea/

# Logs / runtime data
/tmp/rnsd.log
/tmp/rnsd.err

#docs
docs/
